body,
.modal-header,
.modal-body {
  background-color: #212121;
}

.jumbotron {
  background-color: #303030;
}

.btn-secondary {
  background-color: #303030;
}

.btn-success {
  background-color: #009e76;
}

.btn-success:hover {
  background-color: inherit;
}

.btn-success:active {
  background-color: #009e76;
}

label,
div,
.btn {
  color: white;
}

.letter {
  color: rgb(160, 160, 160);
}

.correct-letter {
  color: white !important;
}

.incorrect-letter {
  color: rgb(255, 67, 67);
}

.incorrect > span:not(.space) {
  text-decoration: underline;
  text-decoration-color: rgb(255, 67, 67);
}

.correct {
  color: rgb(0, 177, 0);
}

.wrong:focus,
.wrong {
  background-color: #ff1b1b4b !important;
}

input {
  background-color: #303030 !important;
  color: white !important;
}

#text-input {
  background-color: #303030;
  color: white;
}

.form-control:focus {
  border-color: #494949;
  box-shadow: 0 0 0 0.2rem rgba(59, 59, 59, 0.25);
}
