body {
  background-color: white;
}

.jumbotron {
  background-color: #e9ecef;
}

.btn-secondary {
  background-color: #6b747c;
}

.letter {
  color: #484e53;
}

.correct-letter {
  color: black !important;
}

.incorrect-letter {
  color: red;
}

.incorrect > span:not(.space) {
  text-decoration: underline;
  text-decoration-color: rgb(255, 67, 67);
}

.correct {
  color: green;
}

.cursor {
  background-color: blue;
}

i {
  color: black;
}
.wrong:focus {
  background-color: #ffb3b3;
}

.wrong {
  background-color: #ffb3b3;
}

.wrong:focus {
  background-color: #ffb3b3;
}

.wrong {
  background-color: #ffb3b3;
}
