html,
body {
  height: 100%;
  width: 100%;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.top-padding {
  margin-top: 20px;
}

.text-input {
  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.outline {
  outline: 5px solid red;
}

.current-word {
  color: blue;
}

.incorrect {
  color: red;
}

.correct {
  color: green;
}

.wrong:focus {
  background-color: #ffb3b3;
}

.wrong {
  background-color: #ffb3b3;
}

@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 35%;
  }
}
