/* Media Queries */

@media (max-width: 576px) {
  #loginHeader {
    padding-top: 40px;
  }
}

@media (min-width: 576px) {
  h2 {
    font-size: 41px;
  }
  .fa-7x {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 1000px;
  }
  h2 {
    font-size: 66px;
  }
  .fa-7x {
    font-size: 3em;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 1000px;
  }
  h2 {
    font-size: 87px;
  }
  .fa-7x {
    font-size: 6.3em;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 1000px;
  }
  h2 {
    font-size: 90px;
  }
  .fa-7x {
    font-size: 6.5em;
  }
}

/* Main Stylings */

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Fira Code', monospace;
}

body {
  display: -ms-flexbox;
  display: flex;
}

.fa-7x {
  font-size: 2em;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.word-select-button {
  font-size: 18px;
}

.input-group-append {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#text-input {
  padding-top: 0px !important;
}

#words,
#text-input {
  font-size: 22px;
}

.cursor {
  height: 28px;
  width: 3px;
  border-radius: 1px;
  position: absolute;
  transition: top 0.1s, left 0.1s;
}

#highest-wpm {
  font-size: 21px;

  font-weight: bold;
}

.top-padding {
  margin-top: 21px;
}

.top-padding-small {
  margin-top: 10px;
}

.no-padding {
  margin-bottom: -15px;
}

.red-outline {
  border-style: solid;
  border-color: red;
}

.text-input {
  margin-left: -15px;
  margin-right: -15px;
}

.input-group {
  margin-bottom: 0 !important;
}

.words-time-picker {
  gap: 12px;
}

.word-time-option {
  margin-bottom: 0;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.8);
  transition: transform 0.2s;
}

.word-time-option-active {
  opacity: 1 !important;
  font-weight: bold;
  transform: scale(1);
}

.jumbotron {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin: 0;
}

.jumbotron:focus {
  outline: none;
}

.title {
  font-weight: bold;
  padding-right: 25px;
}

.fa-clickable {
  cursor: pointer;
  outline: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #303030;
  outline: 0;
  border-color: #6b747c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  color: inherit;
}

.alert {
  display: inline-block;
}

#username {
  padding-right: 20px;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

/* Loading screen */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
