/* Media Queries */

@media (max-width: 576px) {
  #loginHeader {
    padding-top: 40px;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 50%;
  }
}

/* Main Stylings */

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Fira Code', monospace;
}

body {
  display: -ms-flexbox;
  display: flex;
}

#words,
#text-input {
  font-size: 18px;
}

.top-padding {
  margin-top: 20px;
}

.no-padding {
  margin-bottom: -15px;
}

.red-outline {
  border-style: solid;
  border-color: red;
}

.text-input {
  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.title {
  font-weight: bold;
  padding-right: 25px;
}

.fa-clickable {
  cursor: pointer;
  outline: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #303030;
  outline: 0;
  border-color: #6b747c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  color: inherit;
}

.alert {
  display: inline-block;
}

#username {
  padding-right: 20px;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

/* Loading screen */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
