@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  animation-name: fadein;
  animation-duration: 0.3s;
  font-family: 'Fira Code', monospace;
}

body {
  display: -ms-flexbox;
  display: flex;
}

#words,
#text-input {
  font-size: 18px;
}

.vertical-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-padding {
  margin-top: 20px;
}

.no-padding {
  margin-bottom: -15px;
}

.red-outline {
  border-style: solid;
  border-color: red;
}

.text-input {
  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.title {
  float: right;
  font-weight: bold;
  padding-right: 25px;
}

.fa-clickable {
  cursor: pointer;
  outline: none;
}

#login {
  transform: translateY(-10%);
}

@media (min-width: 768px) {
  .main-container {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 50%;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #303030;
  outline: 0;
  border-color: #6b747c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

a {
  color: inherit;
}
