@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  animation-name: fadein;
  animation-duration: 0.3s;
  font-family: "Fira Code", monospace;
}

#words,
#text-input {
  font-size: 18px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.top-padding {
  margin-top: 20px;
}

.no-padding {
  margin-bottom: -15px;
}

.red-outline {
  border-style: solid;
  border-color: red;
}

.text-input {
  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.title {
  float: right;
  font-weight: bold;
}

@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 38%;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #303030;
  outline: 0;
  border-color: #6b747c;
  -webkit-box-shadow: none;
  box-shadow: none;
}
